<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.chalmers.student.devit.resekompanjon" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ResekompanjonActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchResultListActivity"
            android:label="Resekompanjon">
            <intent-filter>
                <action android:name="se.chalmers.student.devit.resekompanjon.SearchResultListActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".CurrentTripActivity"
            android:label="Resekompanjon">
            <intent-filter>
                <action android:name="se.chalmers.student.devit.resekompanjon.DetailedTripView"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".FavoritesActivity"
            android:label="Resekompanjon">
            <intent-filter>
                <action android:name="se.chalmers.student.devit.resekompanjon.FavoritesActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".PlannedTripsActivity"
            android:label="Resekompanjon">
            <intent-filter>
                <action android:name="se.chalmers.student.devit.resekompanjon.PlannedTripsActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver android:name=".PlannedTripAlarm"
                  android:process=":remote">
        </receiver>
    </application>

</manifest>
